<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id ="emp" class ="beans.Employee">
   <constructor-arg name ="id" value ="1"></constructor-arg>
   <constructor-arg name ="adress"  ref="add"></constructor-arg>
     
   </bean>
   
   
   <bean id ="add" class ="beans.Adress">
   <property name="name" value="prakash"></property>
   </bean>
   
   </beans>